extends ../application.pug

block content

  .container
      .row
        .col-xs-8.offset-xs-2
          h2= "Edit " + menu.title
          form(action="/admin/menus/" + menu.id method="POST")
            .form-group
              label Title
              input(name="title" type="text" class="form-control" value=menu.title required=true)
            .form-group
              label Slug
              input(name="slug" type="text" class="form-control" value=menu.slug required=true)
            .form-group
              label Image
              input(name="image" type="text" class="form-control" value=menu.image required=true)
            .form-group
              label Info
              textarea(name="info" class="form-control" rows=10 required=true)= menu.info
            .form-group.text-xs-right
              button(type="submit" class="btn btn-lg btn-success") Edit menu
